.directions {
  width: 100%;
  height: 100%;
  border: 2px red solid;
  position: relative;
}

.directions__wrapper {
  border: 2px red solid;

  height: 100%;
  display: flex;
  flex-direction: column;
}
.directions__sport {
  width: 100%;
  height: 300px;
  border: 2px red solid;
}
